.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #089add;
    color: white;
    position: fixed;
    top:0;
}